# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pt

# Python virtual environment
**/venv/
**/.venv/

# Dataset (NÃO subir)
dataset/*

# Models pesados
models/*.pt

# Results
results/*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Outputs do treino (NÃO subir)
outputs/

# Logs
*.log